<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Gary's Notebook</div>
    <div class="ui top attached segment">
        
    <div class="ui divided items">
        <% blogs.forEach(function(blog){%>
        <div class="item">
            <div class="content">
                <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title%></a>
                <div class="meta">
                    <%let options = {  weekday: 'long', year: 'numeric', month: 'short', day: 'numeric'}%>
                    <span class="cinema"><%= blog.created.toLocaleDateString('en-us', options)%></span>
                </div>
                <div class="description">
                    <p><%-blog.snippet%></p>
                </div>
                <div class="extra">
                    <a href="/blogs/<%= blog._id %>">Read More</a>
                </div>
            </div>
        </div><%})%>
    </div>
    </div>
</div>        


 <% include ./partials/footer %>